/*import Lato font*/
@import url('http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext');

body {
    font-family: Lato, "Helvetica Neue", Arial, monospace;
    color: #D3C67E;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*button reset*/
button {
    border: 0;
    outline: none;
}

a, a:hover, a:focus, a:visited {
    color: #D3C67E;
    text-decoration: none;
}

/*reset*/
ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}