<template name="Reset">
    <div id="background">
        {{> errors}}
        <div class="row">
            <div class="col-md-12">
                {{#if currentUser}}
                <a class="header-logo reset-logo" href="{{pathFor 'kanban'}}" title="Go back to your boards page.">
                    <span class="reset-logo-large "></span>
                </a>
                {{else}}
                <a class="header-logo reset-logo" href="{{pathFor 'home'}}" title="Go back to your boards page.">
                    <span class="reset-logo-large "></span>
                </a>
                {{/if}}

                {{>yield}}
            </div>
        </div>
    </div>
</template>