<template name="dropDownCreate">
    <div class="dropdown-menu pop-over clearfix">
        <div class="header clearfix">
            <a class="back-btn js-back-view" href="#">
                <span class="icon-sm icon-leftarrow"></span>
            </a>
            <span class="header-title">Create Board</span>

            <a class="close-btn" href="#">
                <span aria-hidden="true">&times;</span>
            </a>
        </div>
        <div class="content clearfix fancy-scrollbar js-tab-parent">
            <div class="content clearfix fancy-scrollbar js-tab-parent">
                <form id="CreateBoardForm">
                    <label for="boardNewTitle">Title</label>
                    <input id="boardNewTitle" type="text" name="name" class="non-empty js-autofocus" placeholder="I <3 Boards for example…" autofocus="">
                    <p class="quiet js-vis-display">
                        <span class="icon-sm icon-public"></span>This board will be <strong>public</strong>.</p>
                    <input type="submit" class="btn-primary" id="create-board" value="Create">
                </form>
            </div>
        </div>
    </div>
</template>


<template name="dropDownUser">
    <div class="dropdown-menu pop-over clearfix">
        <div class="header clearfix">
            <a class="back-btn js-back-view" href="#">
                <span class="icon-sm icon-leftarrow"></span>
            </a>
            <span class="header-title">Create Board</span>

            <a class="close-btn" href="#">
                <span aria-hidden="true">&times;</span>
            </a>
        </div>
        <div class="content clearfix fancy-scrollbar js-tab-parent">
            <div class="content clearfix fancy-scrollbar js-tab-parent">
                <form id="CreateBoardForm">
                    <label for="boardNewTitle">Title</label>
                    <input id="boardNewTitle" type="text" name="name" class="non-empty js-autofocus" placeholder="I <3 Boards for example…" autofocus="">
                    <p class="quiet js-vis-display">
                        <span class="icon-sm icon-public"></span>This board will be <strong>public</strong>.</p>
                    <input type="submit" class="btn-primary" id="create-board" value="Create">
                </form>
            </div>
        </div>
    </div>
</template>

<template name="dropdownNotifications">
    <div class="dropdown-menu pop-over clearfix">
        <div class="header clearfix">
            <a class="back-btn js-back-view" href="#">
                <span class="icon-sm icon-leftarrow"></span>
            </a>
            <span class="header-title">Create Board</span>

            <a class="close-btn" href="#">
                <span aria-hidden="true">&times;</span>
            </a>
        </div>
        <div class="content clearfix fancy-scrollbar js-tab-parent">
            <div class="content clearfix fancy-scrollbar js-tab-parent">
                <form id="CreateBoardForm">
                    <label for="boardNewTitle">Title</label>
                    <input id="boardNewTitle" type="text" name="name" class="non-empty js-autofocus" placeholder="I <3 Boards for example…" autofocus="">
                    <p class="quiet js-vis-display">
                        <span class="icon-sm icon-public"></span>This board will be <strong>public</strong>.</p>
                    <input type="submit" class="btn-primary" id="create-board" value="Create">
                </form>
            </div>
        </div>
    </div>
</template>