<template name="header">
    <div id="header">
        <a class="header-logo js-home-via-logo" href="/" title="Go back to your boards page.">
            <span class="header-logo-default"></span>
        </a>
        <div class="header-boards-button">
            <a class="header-btn header-boards js-boards-menu" title="View list of boards" href="#">
                <span class="header-btn-icon icon-lg icon-board light"></span>
                <span class="header-btn-text"><i class="fa fa-align-left"></i>Boards</span>
            </a>
        </div>
        <div>
            <div class="header-search">
                <input class="header-search-input js-search-input js-disable-on-dialog" type="text" autocomplete="off" autocorrect="off" spellcheck="false" value="">
                <i class="fa fa-search"></i>
                <!--<span class="header-search-icon icon-lg icon-search light js-search-icon js-search-focus"></span>-->

            </div>
        </div>

        <div class="header-user">
            <button type="button" class="header-btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false" title="Add a new board">
                <i class="fa fa-plus"></i>
                <span class="header-btn-icon icon-lg icon-add light"></span>
            </button>
            <div class="dropdown-menu" role="menu">
                <div class="pop-over clearfix">
                    <div class="header clearfix">
                        <a class="back-btn js-back-view" href="#">
                            <span class="icon-sm icon-leftarrow"></span>
                        </a>
                        <span class="header-title">Create Board</span>
                        <a class="close-btn js-close-popover" href="#">
                            <span class="icon-sm icon-close"></span>
                        </a>
                    </div>
                    <div class="content clearfix fancy-scrollbar js-tab-parent">
                        <div class="content clearfix fancy-scrollbar js-tab-parent">
                            <form id="CreateBoardForm">
                                <label for="boardNewTitle">Title</label>
                                <input id="boardNewTitle" type="text" name="name" class="non-empty js-autofocus" placeholder="I <3 Trololol” for example…" autofocus="">
                                <p class="quiet js-vis-display">
                                    <span class="icon-sm icon-public"></span>This board will be <strong>public</strong>.</p>
                                <input type="submit" class="btn-primary" id="create-board" value="Create">
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <a class="header-btn header-member" href="#" title="Get access to your profile">
                <span class="header-btn-text js-member-name">Hello {{username}}</span>
            </a>
            <a class="header-btn header-notifications js-open-header-notifications-menu" href="#" title="Click to view notifications.">
                <i class="fa fa-bell-o ml-small"></i>
                <span class="header-btn-icon icon-lg icon-notification light"></span>
            </a>
            <a class="header-btn">
                {{>signOut}}
            </a>
        </div>
    </div>

</template>