<template name="header">
    <div id="header">
        <a class="header-logo js-home-via-logo" href="{{pathFor 'kanban'}}" title="Go back to your boards page.">
            <span class="header-logo-default"></span>
        </a>
        <div class="header-boards-button">
            <a class="header-btn header-boards js-boards-menu" title="View list of boards" href="#">
                <span class="header-btn-icon icon-lg icon-board light"></span>
                <span class="header-btn-text"><i class="fa fa-align-left"></i>Boards</span>
            </a>
        </div>

        <div class="userSearch none">
            <!--search button-->
            {{> search}}
        </div>

        <div class="header-user">
            <button type="button" class="header-btn dropdown-toggle" id="dropdown-create" title="Add a new board">
                <i class="fa fa-plus"></i>
                <span class="header-btn-icon icon-lg icon-add light"></span>
            </button>

            {{#if showPopBoard}}
                {{> dropDownCreate}}
            {{/if}}

            <a class="header-btn header-member" id="dropdown-user" href="#" title="Get access to your profile">
                <span class="header-btn-text js-member-name">Hello {{username}}</span>
            </a>
            {{#if showPopUser}}
                {{> dropDownUser}}
            {{/if}}

            <a class="header-btn header-notifications js-open-header-notifications-menu" id="dropdown-notifications" href="#" title="Click to view notifications.">
                <i class="fa fa-bell-o ml-small"></i>
                <span class="header-btn-icon icon-lg icon-notification light"></span>
            </a>
            {{#if showPopNotifications}}
                {{> dropdownNotifications}}
            {{/if}}

            <a class="header-btn">
                {{>signOut}}
            </a>
        </div>
    </div>

</template>

<template name="search">
    <div id="searchArea">
        <form class="header-search">
            <input id="newSearch" type="text" name="name" placeholder="Search for books" autofocus="">
            <!--<i class="fa fa-search"></i>-->
            <input type="submit" class="btn btn-primary btn-sm search-btn" value="Search">
            <!--<span class="header-search-icon icon-lg icon-search light js-search-icon js-search-focus"></span>-->

        </form>
    </div>
</template>