<template name="ForgotPassword">
    <!--{{> errors}}-->
    <h4 class="modal-title reset-title">Enter your email to reset your password</h4>

    <div class="form-group reset-group {{errorClass 'email'}}">
        <form action="/forgot" id="forgotPasswordForm" method="post">
            <input id="forgotPasswordEmail" type="text" name="email" placeholder="Email Address">
            <span class="help-block"><span class="reset-help">{{errorMessage 'email'}}</span></span>
            <input class="btn-primary" type="submit" value="Send">
        </form>
    </div>

    <div class="return-home">
        <h4><em>or</em></h4>
        <a href="{{pathFor 'home'}}"><h4>Return <i class="fa fa-home"></i></h4></a>
    </div>
</template>

<template name="ResetPassword">
    {{#if resetPassword}}
        <!--{{> errors}}-->
        <h4 class="modal-title reset-title">Reset your password</h4>

        <div class="form-group reset-group {{errorClass 'password'}}">
            <form action="/reset-password"  id="resetPasswordForm" method="post">
                <input id="resetPasswordPassword" name="password" placeholder="New Password" type="password" >
                <span class="help-block">{{errorMessage 'password'}}</span>

                <input id="resetPasswordPasswordConfirm" name="password-confirm" placeholder="Confirm" type="password" >
                <span class="help-block">{{errorMessage 'verify'}}</span>

                <input class="btn-submit" type="submit" value="Reset">
            </form>
        </div>

        <div class="return-home">
            <h4><em>or</em></h4>
            <a href="{{pathFor 'home'}}"><h4>Return <i class="fa fa-home"></i></h4></a>
        </div>

    {{/if}}
</template>