<template name="home">
    <!--splash page-->
    <div id="splash-page">
        <div class="container-fluid text-center splash-container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Welcome to Plethora</h1>
                    <h4 class="splash-subheading">Manage your reading list</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <button class="signup-button" data-toggle="modal" data-target="#signup-modal">Sign Up It's Free</button>
                    <p>or</p>
                    <a class="login-button" data-toggle="modal" data-target="#login-modal">Log In</a>
                </div>
            </div>
        </div>
    </div>
    <!--end splash page-->


    <!-- Modal -->
    <div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="signup-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    {{> errors}}
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Sign Up</h4>
                </div>
                <div class="modal-body">
                    {{> signupForm}}
                </div>
                <div class="modal-footer">
                    <span class="quote-span">
                        <!--todo add quotes api-->
                        <!--{{>}}-->
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!--end Modal-->

    <!-- Modal -->
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    {{> errors}}
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Log In</h4>
                </div>
                <div class="modal-body">
                    {{>loginForm}}
                </div>
                <div class="modal-footer">
                    <span class="quote-span">
                        <!--todo add quotes api-->
                        <!--{{>}}-->
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!--end Modal-->
</template>